<!DOCTYPE web-app PUBLIC
"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd" >
 
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>CarritoFiltro</filter-name>
  	<display-name>CarritoFiltro</display-name>
  	<description></description>
  	<filter-class>Filtros.CarritoFiltro</filter-class>
  </filter>
  <filter>
  	<filter-name>SesionFiltro</filter-name>
  	<display-name>SesionFiltro</display-name>
  	<description></description>
  	<filter-class>Filtros.SesionFiltro</filter-class>
  </filter>
  <filter>
  	<filter-name>StockFiltro</filter-name>
  	<display-name>StockFiltro</display-name>
  	<description></description>
  	<filter-class>Filtros.StockFiltro</filter-class>
  </filter>
  <filter>
  	<filter-name>RegistroFiltro</filter-name>
  	<display-name>RegistroFiltro</display-name>
  	<description></description>
  	<filter-class>Filtros.RegistroFiltro</filter-class>
  </filter>
  <filter>
  	<filter-name>InicioSesionFiltro</filter-name>
  	<display-name>InicioSesionFiltro</display-name>
  	<description></description>
  	<filter-class>Filtros.InicioSesionFiltro</filter-class>
  </filter>
  <filter>
  	<filter-name>ValidacionCompraFiltro</filter-name>
  	<display-name>ValidacionCompraFiltro</display-name>
  	<description></description>
  	<filter-class>Filtros.ValidacionCompraFiltro</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CarritoFiltro</filter-name>
  	<url-pattern>/CarritoFiltro</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SesionFiltro</filter-name>
  	<url-pattern>/SesionFiltro</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>StockFiltro</filter-name>
  	<url-pattern>/StockFiltro</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>RegistroFiltro</filter-name>
  	<url-pattern>/RegistroFiltro</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>InicioSesionFiltro</filter-name>
  	<url-pattern>/InicioSesionFiltro</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>ValidacionCompraFiltro</filter-name>
  	<url-pattern>/ValidacionCompraFiltro</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>EntradaServlet</servlet-name>
  	<display-name>EntradaServlet</display-name>
  	<description></description>
  	<servlet-class>control.producto.EntradaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ComprarServlet</servlet-name>
  	<display-name>ComprarServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.ComprarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CompraProductoServlet</servlet-name>
  	<display-name>CompraProductoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.CompraProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IniciarSesion</servlet-name>
  	<display-name>IniciarSesion</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.IniciarSesion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MostrarProductoServlet</servlet-name>
  	<display-name>MostrarProductoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.MostrarProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarritoServlet</servlet-name>
  	<display-name>CarritoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.CarritoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CatalogoServlet</servlet-name>
  	<display-name>CatalogoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.CatalogoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registro</servlet-name>
  	<display-name>Registro</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.Registro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PagoFinalServlet</servlet-name>
  	<display-name>PagoFinalServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.PagoFinalServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MaestroDetallesServlet</servlet-name>
  	<display-name>MaestroDetallesServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.MaestroDetallesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VolverCarritoServlet</servlet-name>
  	<display-name>VolverCarritoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.VolverCarritoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CerrarSesionServlet</servlet-name>
  	<display-name>CerrarSesionServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.CerrarSesionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarritoRuta</servlet-name>
  	<display-name>CarritoRuta</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.CarritoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MisPedidos</servlet-name>
  	<display-name>MisPedidos</display-name>
  	<description></description>
  	<servlet-class>Control.controlPedido.MisPedidos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaProductoDetalleServlet</servlet-name>
  	<display-name>VistaProductoDetalleServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.VistaProductoDetalleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaFormularioServlet</servlet-name>
  	<display-name>VistaFormularioServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.VistaFormularioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaLoginServlet</servlet-name>
  	<display-name>VistaLoginServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.VistaLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaDetalleServlet</servlet-name>
  	<display-name>VistaDetalleServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlPedido.VistaDetalleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaInfoServlet</servlet-name>
  	<display-name>VistaInfoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.VistaInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CamposUsuarioServlet</servlet-name>
  	<display-name>CamposUsuarioServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.CamposUsuarioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaCambioServlet</servlet-name>
  	<display-name>VistaCambioServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.VistaCambioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MostrarCategoriasServlet</servlet-name>
  	<display-name>MostrarCategoriasServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlCategoria.MostrarCategoriasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>i18Servlet</servlet-name>
  	<display-name>i18Servlet</display-name>
  	<description></description>
  	<servlet-class>Control.controli18.i18Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NumFacturaServlet</servlet-name>
  	<display-name>NumFacturaServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlConfiguracion.NumFacturaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnvioCorreoServlet</servlet-name>
  	<display-name>EnvioCorreoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.EnvioCorreoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerarFacturaServlet</servlet-name>
  	<display-name>GenerarFacturaServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlPedido.GenerarFacturaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaInfoEmpresaServlet</servlet-name>
  	<display-name>VistaInfoEmpresaServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.VistaInfoEmpresaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelarPedidoServlet</servlet-name>
  	<display-name>CancelarPedidoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlPedido.CancelarPedidoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DarAltaProducto</servlet-name>
  	<display-name>DarAltaProducto</display-name>
  	<description></description>
  	<servlet-class>Control.controlProductoServlet.DarAltaProducto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DarAltaProductoServlet</servlet-name>
  	<display-name>DarAltaProductoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.DarAltaProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaListaProductosServlet</servlet-name>
  	<display-name>VistaListaProductosServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.VistaListaProductosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaActualizacionProductoServlet</servlet-name>
  	<display-name>VistaActualizacionProductoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.VistaActualizacionProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarProductoServlet</servlet-name>
  	<display-name>ActualizarProductoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.ActualizarProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaAltaUsuarioServlet</servlet-name>
  	<display-name>VistaAltaUsuarioServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.VistaAltaUsuarioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DarAltaUsuarioServlet</servlet-name>
  	<display-name>DarAltaUsuarioServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.DarAltaUsuarioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaListaUsuariosServlet</servlet-name>
  	<display-name>VistaListaUsuariosServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.VistaListaUsuariosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarUsuarioServlet</servlet-name>
  	<display-name>ActualizarUsuarioServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.ActualizarUsuarioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaActualizacionUsuarioServlet</servlet-name>
  	<display-name>VistaActualizacionUsuarioServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.VistaActualizacionUsuarioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaAltaCategoriaServlet</servlet-name>
  	<display-name>VistaAltaCategoriaServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlCategoria.VistaAltaCategoriaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DarAltaCategoriaServlet</servlet-name>
  	<display-name>DarAltaCategoriaServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlCategoria.DarAltaCategoriaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaListaCategoriasServlet</servlet-name>
  	<display-name>VistaListaCategoriasServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlCategoria.VistaListaCategoriasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaActualizacionCategoriaServlet</servlet-name>
  	<display-name>VistaActualizacionCategoriaServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlCategoria.VistaActualizacionCategoriaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarCategoriaServlet</servlet-name>
  	<display-name>ActualizarCategoriaServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlCategoria.ActualizarCategoriaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaAltaProductoServlet</servlet-name>
  	<display-name>VistaAltaProductoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlProducto.VistaAltaProductoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaPedidosClientes</servlet-name>
  	<display-name>VistaPedidosClientes</display-name>
  	<description></description>
  	<servlet-class>Control.controlPedido.VistaPedidosClientes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmarEnvioServlet</servlet-name>
  	<display-name>ConfirmarEnvioServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlPedido.ConfirmarEnvioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FiltrarFechaPedidoServlet</servlet-name>
  	<display-name>FiltrarFechaPedidoServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlPedido.FiltrarFechaPedidoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PublicarValoracionServlet</servlet-name>
  	<display-name>PublicarValoracionServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlValoracion.PublicarValoracionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaPublicarValoracionServlet</servlet-name>
  	<display-name>VistaPublicarValoracionServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlValoracion.VistaPublicarValoracionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelarLineaServlet</servlet-name>
  	<display-name>CancelarLineaServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlPedido.CancelarLineaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ComprobarAntiguaClaveServlet</servlet-name>
  	<display-name>ComprobarAntiguaClaveServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.ComprobarAntiguaClaveServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CambioClaveServlet</servlet-name>
  	<display-name>CambioClaveServlet</display-name>
  	<description></description>
  	<servlet-class>Control.controlUsuario.CambioClaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EntradaServlet</servlet-name>
  	<url-pattern>/entrada</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComprarServlet</servlet-name>
  	<url-pattern>/ComprarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CompraProductoServlet</servlet-name>
  	<url-pattern>/CompraProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IniciarSesion</servlet-name>
  	<url-pattern>/IniciarSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MostrarProductoServlet</servlet-name>
  	<url-pattern>/MostrarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarritoServlet</servlet-name>
  	<url-pattern>/CarritoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CatalogoServlet</servlet-name>
  	<url-pattern>/CatalogoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registro</servlet-name>
  	<url-pattern>/Registro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PagoFinalServlet</servlet-name>
  	<url-pattern>/PagoFinalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MaestroDetallesServlet</servlet-name>
  	<url-pattern>/MaestroDetallesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VolverCarritoServlet</servlet-name>
  	<url-pattern>/VolverCarritoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CerrarSesionServlet</servlet-name>
  	<url-pattern>/CerrarSesionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarritoRuta</servlet-name>
  	<url-pattern>/CarritoRuta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MisPedidos</servlet-name>
  	<url-pattern>/MisPedidos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaProductoDetalleServlet</servlet-name>
  	<url-pattern>/VistaProductoDetalleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaFormularioServlet</servlet-name>
  	<url-pattern>/VistaFormularioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaLoginServlet</servlet-name>
  	<url-pattern>/VistaLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaDetalleServlet</servlet-name>
  	<url-pattern>/VistaDetalleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaInfoServlet</servlet-name>
  	<url-pattern>/VistaInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CamposUsuarioServlet</servlet-name>
  	<url-pattern>/CamposUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaCambioServlet</servlet-name>
  	<url-pattern>/VistaCambioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>i18Servlet</servlet-name>
  	<url-pattern>/i18Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NumFacturaServlet</servlet-name>
  	<url-pattern>/NumFacturaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnvioCorreoServlet</servlet-name>
  	<url-pattern>/EnvioCorreoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerarFacturaServlet</servlet-name>
  	<url-pattern>/GenerarFacturaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaInfoEmpresaServlet</servlet-name>
  	<url-pattern>/VistaInfoEmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelarPedidoServlet</servlet-name>
  	<url-pattern>/CancelarPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DarAltaProducto</servlet-name>
  	<url-pattern>/DarAltaProducto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DarAltaProductoServlet</servlet-name>
  	<url-pattern>/DarAltaProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaListaProductosServlet</servlet-name>
  	<url-pattern>/VistaListaProductosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaActualizacionProductoServlet</servlet-name>
  	<url-pattern>/VistaActualizacionProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarProductoServlet</servlet-name>
  	<url-pattern>/ActualizarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaAltaUsuarioServlet</servlet-name>
  	<url-pattern>/VistaAltaUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DarAltaUsuarioServlet</servlet-name>
  	<url-pattern>/DarAltaUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaListaUsuariosServlet</servlet-name>
  	<url-pattern>/VistaListaUsuariosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarUsuarioServlet</servlet-name>
  	<url-pattern>/ActualizarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaActualizacionUsuarioServlet</servlet-name>
  	<url-pattern>/VistaActualizacionUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaAltaCategoriaServlet</servlet-name>
  	<url-pattern>/VistaAltaCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DarAltaCategoriaServlet</servlet-name>
  	<url-pattern>/DarAltaCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaListaCategoriasServlet</servlet-name>
  	<url-pattern>/VistaListaCategoriasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaActualizacionCategoriaServlet</servlet-name>
  	<url-pattern>/VistaActualizacionCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarCategoriaServlet</servlet-name>
  	<url-pattern>/ActualizarCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaAltaProductoServlet</servlet-name>
  	<url-pattern>/VistaAltaProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaPedidosClientes</servlet-name>
  	<url-pattern>/VistaPedidosClientes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmarEnvioServlet</servlet-name>
  	<url-pattern>/ConfirmarEnvioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FiltrarFechaPedidoServlet</servlet-name>
  	<url-pattern>/FiltrarFechaPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PublicarValoracionServlet</servlet-name>
  	<url-pattern>/PublicarValoracionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaPublicarValoracionServlet</servlet-name>
  	<url-pattern>/VistaPublicarValoracionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelarLineaServlet</servlet-name>
  	<url-pattern>/CancelarLineaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComprobarAntiguaClaveServlet</servlet-name>
  	<url-pattern>/ComprobarAntiguaClaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CambioClaveServlet</servlet-name>
  	<url-pattern>/CambioClaveServlet</url-pattern>
  </servlet-mapping>
</web-app>