<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="includes/Head.html"></th:block>
</head>
<body>

<div th:replace="includes/Navbar.html"></div>
<div class="content">
<div class="container-fluid mt-2">
<div class="row">
        <div class="col-lg-9 col-md-11 col-sm-12 mx-auto">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Alta de Clientes</h2>
        </div>
        
        <div class="card-body">
            <form th:action="@{/ControladorUsuario/AltaUsuario}" th:object="${usuario}" method="POST">
           
                <input type="hidden" name="rol_id" value="1">
                
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" th:field="*{email}" required>
                </div>
                <div class="form-group">
                    <label for="clave">Clave:</label>
                    <input type="password" class="form-control" id="clave" name="clave" th:field="*{clave}" rows="3" required></input>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre:</label>
                        <input type="text" step="0.01" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" step="0.01" class="form-control" id="apellidos" name="apellidos" th:field="*{apellidos}" required>
                    </div>
                </div>
                
                <input type="hidden" name="baja" value="1">
              
                <br>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
      </div>
       </div>
    </div>
</div>
</body>
</html>
