<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="includes/Head.html"></th:block>
</head>
<body>

<div th:replace="includes/Navbar.html"></div>
<div class="container mt-5">
    <div class="card">
                    <div class="card-header bg-primary text-white ">
            <h2 class="mb-0">Actualizacion de Usuario</h2>
        </div>
        
        <div class="card-body">
            <form th:action="@{/ControladorUsuario/ActualizacionUsuario}" th:object="${Usuario}" method="POST">
               
            
                <input type="hidden" id="id" name="id" th:value="${Usuario.id}" />
                
                
                <input type="hidden" id="rol_id" name="rol_id" value="2" />
                
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" th:value="${Usuario.email}" required>
                </div>
                <div class="form-group">
                    <label for="clave">Clave:</label>
                    <input type="password" class="form-control" id="clave" name="clave" th:value="${Usuario.clave}" rows="3" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            </div>
                            <input type="text" step="0.01" class="form-control" id="nombre" name="nombre" th:value="${Usuario.nombre}" required>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidos">Apellidos:</label>
                        <div class="input-group">
                            <input type="text" step="0.01" class="form-control" id="apellidos" name="apellidos" th:value="${Usuario.apellidos}" required>
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="baja" value="1">
                <br>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        </div>
        </div>
   
        

<div th:replace="includes/Footer.html"></div>
</body>
</html>
