<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="includes/Head.html"></th:block>
</head>
<body>

<div th:replace="includes/Navbar.html"></div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Cambio Datos Personales</h2>
        </div>
        <div class="card-body">
                <form th:action="@{/ControladorUsuario/CambiarInformacion}" th:object="${usuario}" method="POST">
                    <div class="form-group">
                        <label for="nueva-clave">Email:</label>
                        <input type="text" class="form-control" id="email" name="email"  th:value="${usuario.email}" required>
                    </div>
                     <div class="form-group">
                        <label for="nueva-clave">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"  th:value="${usuario.nombre}" required>
                    </div>
                     <div class="form-group">
                        <label for="nueva-clave">Apellidos:</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos"  th:value="${usuario.apellidos}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
           </div>
         </div>
       </div>
  

<div th:replace="includes/Footer.html"></div>
</body>
</html>
